/*start bootstrap adjustments*/
.card-img-top {
    box-shadow: 0 4px 9px -7px #000;
}
.card {
  overflow: hidden;
}
/*end bootstrap adjustments*/
.container.web-portfolio .card {
  box-shadow: 0 5px 9px -8px #000;
}

.site-footer {
  background-color: #eee;
}
.tcTag {
    background: #dcdcff;
    padding: 0 7px;
  }
